.navbar-brand {
    float: left;
    font-size: 18px;
    height: 50px;
    line-height: 20px;
    padding: 15px;
    text-decoration: none;
}

.navbar-nav li a {
    text-decoration: none;
}

/*dark div*/
.dark-div{
	color:rgba(255,255,255,.75)
}

/*dark div*/
.dark-div{
	color:rgba(255,255,255,.75)
}
.dark-div a{
	color:#fff;
	text-decoration:none;
}
.dark-div a:hover{
	color:#c8385e;
}
.dark-div h1, .dark-div h2, .dark-div h3, .dark-div h4, .dark-div h5, .dark-div h6, .dark-div .btn-primary{
	color:#fff;
}

#bottom-nav{
	background: rgba(0,0,0,.2);
}

/*widget*/
.widget-title{
	font-family: "Oswald", Times, serif;
	font-size:22px;
	text-transform:uppercase;
	position:relative;
	margin-bottom:40px;
}
.widget-title:before {
	content: '';
	position: absolute;
	bottom: -10px;
	left: 0px;
	height: 3px;
	width: 60px;
	max-width: 90%;
	background-color: #c8385e;
	transition:all .2s ease;
}

.widget-title:before {
	height: 0;
	background-color: transparent !important;
	border-top: double 4px;
}

.widget:hover .widget-title:before, .widget-title:hover:before {
	width: 70px;
}
.dark-div .widget-title:before {
	background-color: #eee;
	background-color: rgba(255,255,255,.8);
}
.widget-border .widget-inner{
	border: solid 1px rgba(255,255,255,.25);
	padding: 25px 30px;
}

.normal-sidebar .widget ul{
	padding-left:0;
}
.normal-sidebar .widget ul li{
	list-style:none;
	line-height:1.8;
	vertical-align:bottom;
}
.normal-sidebar .widget ul li:before{
	content: "\f105";
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size:8px;
	margin-right:5px;
	vertical-align:middle;
}
.dark-div .normal-sidebar .widget ul li:before{
	color:#fff;
}
.normal-sidebar .widget ul li a{
	vertical-align:middle;
}
.normal-sidebar .widget .menu .sub-menu{
	padding-left:15px;
}
.normal-sidebar a{
	transition:all .2s;
	-webkit-transition:all .2s;
}
.widget{
	padding-bottom:30px;
}
#recentcomments{
	margin-top:-5px;
}


/*Footer*/
@media(max-width:767px){
	.copyright, .footer-social{
		text-align:center;
		margin-top:20px;
		font-family: Raleway,sans-serif;
	}
	.footer-social .social-list{
		float:none !important;
		margin-bottom:20px;
	}
}
#bottom-nav{
	background: rgba(0,0,0,.2);
}
.back-to-top-wrap{
	height:0;
	overflow:visible;
}
.back-to-top{
	display:inline-block;
	width:45px;
	height:30px;
	line-height:28px;
	font-size:16px;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}
#bottom-nav .footer-content{
	padding-top:30px;
	padding-bottom:15px;
	min-height:80px;
}
#bottom-nav .copyright{
	padding-top:10px;
}
#bottom-nav .social-list{
	margin-bottom:0;
}
.fixed-effect{
	overflow:hidden;
}

/*footer*/
#bottom .section-inner{
	padding-bottom: 10px;
}
.footer-social{
	padding-top:10px;
}
#bottom-nav .copyright {
	padding-top: 20px;
}
.back-to-top-wrap {
	margin-top: -20px;
	margin-bottom:20px;
}
.back-to-top {
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 0;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform:  rotate(45deg);
	transition:all .3s;
}
.back-to-top .fa {
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}
.main-color-10-bg.back-to-top:hover{
	background:#fff;
	color:#444;
}

.main-color-10-bg{
	background-color:#2b2b2b;
};
}

/*social icon*/
.social-light{
	margin-top:-12px;
}
.social-light li{
	margin-top:12px;
}

.social-icon{
	width:40px;
	height:40px;
	font-size:14px;
	padding:0;
	line-height:36px;
}


.social-icon {
	padding: 0;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	margin: 0 5px 11px 6px;
	line-height:32px;
	color: #000000 !important;
}
.social-icon .fa, .social-icon:before{
	display:inline-block;
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.social-icon:hover {
	color: #fff;
	background-color: #666666;
	border-color: #666666;
}

.footerbutton {
	border-color: #fff;
	color: #fff;
	border-style: double;
	border-width: 4px;
	padding: 4px 20px;
	border-radius:0;
	background-color: rgba(255, 255, 255, 0); 
	transition: all 0.2s ease 0s;
	font-family: "Raleway",sans-serif;
	font-size: 12px;
}

.footerbutton:hover {
	color: #000 !important;
	border-color: #fff !important;
}

.app-details.item-content span{font-size: 10px; text-transform: uppercase;}
.app-details.item-content{ border-top:0; padding-top:0; font-family: "Raleway",sans-serif;}
.app-details.item-content h5{ margin-bottom:0}
.app-lastest .item .thumb{ float:left; margin-right:15px}

.app-details.item-content h5{
	text-transform: uppercase;
}

.item-thumbnail{
	border-radius: 0;
}


.item-thumbnail{
	position:relative;
	overflow:hidden;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}
.item-thumbnail img{
	width:100%;
	height:auto;
	transition:all .4s;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}
.item-thumbnail:hover img{
	filter: brightness(80%);
	-webkit-filter: brightness(80%);
	-moz-filter: brightness(80%);
	-ms-filter: brightness(80%);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}
.mobile .item-thumbnail:hover img{
	filter: none;
	-webkit-filter: none;
	-moz-filter: none;
	-ms-filter: none;
	-webkit-transform: none;
	transform: none;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}
.thumbnail-overlay{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	background: rgba(70,165,229,.8);
	color:#fff;
	padding: 10px 20px;
}
.item-content .item-title{
	position:relative;
	margin-bottom:32px;
	font-family: "Oswald", Times, serif;
}
.item-content .item-title:before {
	content: '';
	position: absolute;
	bottom: -11px;
	left: 0px;
	height: 3px;
	width: 60px;
	max-width: 90%;
	background-color: #eee;
	background-color: rgba(0,0,0,.15);
}
.app-b-post-listing .item-content .meta{ position:relative; margin-bottom:25px}
.app-b-post-listing .item-content .meta i{ margin-right:5px}
.app-b-post-listing .item-content .meta .date{ margin-right:20px}
.app-b-post-listing .item-content .item-title:before{ display:none}
.item-content .meta:before {
	content: '';
	position: absolute;
	bottom: -11px;
	left: 0px;
	height: 3px;
	width: 60px;
	max-width: 90%;
	background-color: #eee;
	background-color: rgba(0,0,0,.15);
}

.item-content a{
	transition:all .2s;
}

.item-thumbnail, .item-thumbnail a{
	display:block;
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-o-perspective: 1000;
	perspective: 1000;
}
.thumbnail-hoverlay{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	opacity:0;
	transition:all .4s;
	-webkit-transform-origin: bottom;
	transform-origin: bottom;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-transform: rotateX(90deg);
	-moz-transform: rotateX(90deg);
	-o-transform: rotateX(90deg);
	transform: rotateX(90deg);
}
.thumbnail-hoverlay-icon{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	opacity:0;
	-webkit-transform: translateY(-60px) scale(1.5);
	transform: translateY(-60px) scale(1.5);
	transition:all .45s;
}
.thumbnail-hoverlay-icon .fa{
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-13px;
	margin-left:-13px;
	font-size:26px;
	color:#fff;
}
.item-thumbnail:hover .thumbnail-hoverlay{
	opacity:.5;
	-webkit-transform: rotateX(0);
	-moz-transform: rotateX(0);
	-o-transform: rotateX(0);
	transform: rotateX(0);
}
.item-thumbnail:hover .thumbnail-hoverlay-icon{
	opacity:1;
	-webkit-transform: translateY(0) scale(1);
	transform: translateY(0) scale(1);
}
.thumbnail-overflow{
	position:absolute;
	top:0;
	left:-68px;
	width:68px;
}
@media(min-width:992px){
.revert-layout .thumbnail-overflow{
	left:0px;
}
.revert-layout .format-video .thumbnail-overflow{
	display:none;
}
}
@media(min-width:1200px) AND (max-width:1300px), (min-width:992px) AND (max-width:1100px), (max-width:880px){
	.thumbnail-overflow{
		left:0px;
	}
	.format-video .thumbnail-overflow{
		display:none;
	}
}
.thumbnail-overflow .date-block{
	position:static;
	color:#fff;
}
.thumbnail-overflow .comment-block{
	width:68px;
	height:68px;
	line-height:68px;
	text-align:center;
}
.thumbnail-overflow .comment-block a{
	color:#fff;
}
.thumbnail-overflow .comment-block .fa{
	font-size:14px;
	margin-right:3px;
}
.thumbnail-overflow-2{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.75)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#bf000000',GradientType=0 );
}

.item-thumbnail:hover{
	color:#c8385e;
}

.thumbnail-hoverlay-icon .fa {
	margin-top: -20px;
	margin-left: -20px;
	font-size: 20px;
	border: solid 1px;
	width:40px;
	height:40px;
	line-height:38px;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	text-align:center;
}
.thumbnail-hoverlay-icon .fa:before {
	display:inline-block;
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.main-color-5-bg, .main-color-5-bg-hover:hover{
	background-color:#c8385e;
}
