.hero-unit {
	background-color: #333;
	color: #eee;
}

.hero-unit pre {
	color: #eee;
	width: 520px;
}

.hero-unit .new {
	color: red;
}

.hero-unit h1 .mw-headline {
	text-shadow: 1px 1px 0 #000;
}

@media (max-width: 767px) {
	.hero-unit pre {
		font-size: 8px;
		width: 340px;
	}
}

@media (max-width: 400px) {
	.hero-unit pre {
		display: none;
	}
}

.mud-dir {
	background: #fff;
	border: 1px solid #eee;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba( 0, 0, 0, 0.05 );
	position: relative;
}

.mud-dir .reverse-short,
.mud-dir .reverse-long,
.mud-dir .long,
.mud-dir .short {
	padding: 0.5em;
}

.mud-dir .long {
	display: none;
	padding: 0.5em;
}

.mud-dir .toggle {
	background: #eee;
	color: #555;
	cursor: pointer;
	display: block;
	font-size: 0.9em;
	padding: 0.5em;
}

.mud-dir.show-long .long {
	display: block;
}

.mud-dir.show-long .short {
	display: none;
}

.mud-dir .reverse-short,
.mud-dir .reverse-long {
	display: none;
}

.mud-dir.show-reverse .short,
.mud-dir.show-reverse .long {
	display: none;
}

.mud-dir.show-reverse .reverse-short {
	display: block;
}

.mud-dir.show-reverse.show-long .reverse-short {
	display: none;
}

.mud-dir.show-reverse.show-long .reverse-long {
	display: block;
}

table.list th {
	background: #eee;
}

.info-box {
	clear: right;
	color: #000;
	background-color: #ccc;
	border-spacing: 0;
	border: 2px solid #999;
	-webkit-border-bottom-right-radius: .8em;
	-webkit-border-bottom-left-radius: .8em;
	-moz-border-radius-bottomright: .8em;
	-moz-border-radius-bottomleft: .8em;
	border-bottom-right-radius: .8em;
	border-bottom-left-radius: .8em;
	margin-top: -1.4em;
	margin: 0 0 1em 1em;
	padding: 3px;
	position: relative;
	font-size: 12px;
	width: 250px;
	z-index: 100;
}

.info-box .info-image {
	background: #eee;
	border-top: 1px solid #999;
	border-right: 1px solid #999;
	color: #000;
	font-size: smaller;
	text-align: center;
}

.info-box .info-name {
	background-color: #eee;
	border-top: 1px solid #999;
	border-left: #999;
	border-right: #999;
	color: #000;
	font-size: larger;
	font-variant: small-caps;
	text-align: center;
}

.info-box .info {
	background-color: #ccc;
	border-top: 1px solid #999;
	color: #000;
	font-size: 8pt;
	text-align: center;
}

.info-box .info-label {
	background: #eee;
	padding-left: 6px;
	padding-right: 6px;
	border-top: 1px solid #999;
	border-right: 1px solid #999;
	color: #000;
	font-size: smaller;
}

.info-box .info-value {
	background: #fff;
	padding-left: 6px;
	padding-right: 6px;
	border-top: 1px solid #999;
	color: #000;
	font-size: smaller;
}

.info-box.quest {
	background-color: #A4A639;
	border-color: #8A895F;
}

.info-box.quest .info-image {
	background-color: #A4A639;
	border-color: #8A895F;
}

.info-box.quest .info-name {
	background-color: #CECF86;
	border-color: #8A895F;
}

.info-box.quest .info {
	background-color: #A4A639;
	border-color: #8A895F;
}

.info-box.quest .info-label {
	background-color: #CECF86;
	border-color: #8A895F;
}

.info-box.quest .info-value {
	background-color: #fff;
	border-color: #8A895F;
}

.info-box.weapon {
	background-color: #D4726F;
	border-color: #9C5452;
}

.info-box.weapon .info-image {
	background-color: #D4726F;
	border-color: #9C5452;
}

.info-box.weapon .info-name {
	background-color: #DBB7B6;
	border-color: #9C5452;
}

.info-box.weapon .info {
	background-color: #D4726F;
	border-color: #9C5452;
}

.info-box.weapon .info-label {
	background-color: #DBB7B6;
	border-color: #9C5452;
}

.info-box.weapon .info-value {
	background-color: #fff;
	border-color: #9C5452;
}

.list {
  width: 100%;
  margin-bottom: 20px;
}

.list th,
.list td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.list th {
  font-weight: bold;
}

.list thead th {
  vertical-align: bottom;
}

.list caption + thead tr:first-child th,
.list caption + thead tr:first-child td,
.list colgroup + thead tr:first-child th,
.list colgroup + thead tr:first-child td,
.list thead:first-child tr:first-child th,
.list thead:first-child tr:first-child td {
  border-top: 0;
}

.list tbody + tbody {
  border-top: 2px solid #dddddd;
}

.list .list {
  background-color: #ffffff;
}

.list {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapse;
  border-left: 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.list th,
.list td {
  border-left: 1px solid #dddddd;
}

.list caption + thead tr:first-child th,
.list caption + tbody tr:first-child th,
.list caption + tbody tr:first-child td,
.list colgroup + thead tr:first-child th,
.list colgroup + tbody tr:first-child th,
.list colgroup + tbody tr:first-child td,
.list thead:first-child tr:first-child th,
.list tbody:first-child tr:first-child th,
.list tbody:first-child tr:first-child td {
  border-top: 0;
}

.list thead:first-child tr:first-child > th:first-child,
.list tbody:first-child tr:first-child > td:first-child,
.list tbody:first-child tr:first-child > th:first-child {
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

.list thead:first-child tr:first-child > th:last-child,
.list tbody:first-child tr:first-child > td:last-child,
.list tbody:first-child tr:first-child > th:last-child {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

.list thead:last-child tr:last-child > th:first-child,
.list tbody:last-child tr:last-child > td:first-child,
.list tbody:last-child tr:last-child > th:first-child,
.list tfoot:last-child tr:last-child > td:first-child,
.list tfoot:last-child tr:last-child > th:first-child {
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
}

.list thead:last-child tr:last-child > th:last-child,
.list tbody:last-child tr:last-child > td:last-child,
.list tbody:last-child tr:last-child > th:last-child,
.list tfoot:last-child tr:last-child > td:last-child,
.list tfoot:last-child tr:last-child > th:last-child {
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
}

.list tfoot + tbody:last-child tr:last-child td:first-child {
  -webkit-border-bottom-left-radius: 0;
          border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
}

.list tfoot + tbody:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 0;
          border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
}

.list caption + thead tr:first-child th:first-child,
.list caption + tbody tr:first-child td:first-child,
.list colgroup + thead tr:first-child th:first-child,
.list colgroup + tbody tr:first-child td:first-child {
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

.list caption + thead tr:first-child th:last-child,
.list caption + tbody tr:first-child td:last-child,
.list colgroup + thead tr:first-child th:last-child,
.list colgroup + tbody tr:first-child td:last-child {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

.list tbody > tr:nth-child(even) > td {
  background-color: #fff;
}

.list tbody > tr:nth-child(odd) > td {
  background-color: #f9f9f9;
}
