.hero-unit {
	background-color: #333;
	color: #eee;
}

.hero-unit pre {
	color: #eee;
	width: 520px;
}

.hero-unit .new {
	color: red;
}

.hero-unit h1 .mw-headline {
	text-shadow: 1px 1px 0 #000;
}

@media (max-width: 767px) {
	.hero-unit pre {
		font-size: 8px;
		width: 340px;
	}
}

@media (max-width: 400px) {
	.hero-unit pre {
		display: none;
	}
}

.mud-dir {
	background: #fff;
	border: 1px solid #eee;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba( 0, 0, 0, 0.05 );
	position: relative;
}

.mud-dir .reverse-short,
.mud-dir .reverse-long,
.mud-dir .long,
.mud-dir .short {
	padding: 0.5em;
}

.mud-dir .long {
	display: none;
	padding: 0.5em;
}

.mud-dir .toggle {
	background: #eee;
	color: #555;
	cursor: pointer;
	display: block;
	font-size: 0.9em;
	padding: 0.5em;
}

.mud-dir.show-long .long {
	display: block;
}

.mud-dir.show-long .short {
	display: none;
}

.mud-dir .reverse-short,
.mud-dir .reverse-long {
	display: none;
}

.mud-dir.show-reverse .short,
.mud-dir.show-reverse .long {
	display: none;
}

.mud-dir.show-reverse .reverse-short {
	display: block;
}

.mud-dir.show-reverse.show-long .reverse-short {
	display: none;
}

.mud-dir.show-reverse.show-long .reverse-long {
	display: block;
}
