body {
	padding-top: 60px;
}

body.page-Main_Page .page-header,
body.page-Category_JavaScript .page-header,
body.page-Category_HTML .page-header,
body.page-Category_PHP .page-header,
body.page-Category_PL_SQL .page-header,
body.page-Category_CSS .page-header { display: none; }

textarea {
	width: 95%;
}

h2 .mw-headline { font-size: 18px; }
h3 .mw-headline { font-size: 16px; }
h4 .mw-headline { font-size: 14px; }
h5 .mw-headline { font-size: 12px; }
h6 .mw-headline { font-size: 12px; }

.brand img { margin-right: 0.5em; }
.navbar input {
	background-color: #555;
	border-color: #111;
	color: #aaa;
}

.editsection {
	float: right;
	font-size: 0.8rem;
	opacity: 0.2;
}

h2:hover .editsection,
h3:hover .editsection,
h4:hover .editsection,
h5:hover .editsection,
h6:hover .editsection {
	opacity: 1;
}

.nav .user-icon {
	border: 1px solid rgba( 55, 55, 55, 0.1 );
	display: inline-block;
	margin-right: 0.5em;
	vertical-align: middle;
	width: 20px;
	height: 20px;
}

.nav .user-icon img {
	border: 1px solid rgba( 0, 0, 0, 0.5 );
	width: 20px;
	height: 20px;
}

#wiki-body h2 {
	border-bottom: 1px solid #ddd;
	margin-bottom: 0.5em;
}

#wiki-body h3 {
	border-bottom: 1px dotted #eee;
	color: #555;
	margin-bottom: 0.5em;
}

#page-contents ul li { list-style: none; }
#page-contents .dropdown-menu {
	right: 0;
	left: auto;
}

#page-contents i {
	opacity: 0.3;
}

#toc {
	display: none;
	float: right;
	margin: 0 0 1em 1em;
}

#toc td {
	background: #eee;
	border: 1px solid #ddd;
	border-radius: 0.5em;
	display: block;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	padding: 0 1em 1em 1em;

	box-shadow: 0 0 5px 0 rgba( 0, 0, 0, 0.2 );
}

#toctitle h2 {
	font-size: 16px;
}

a.new {
	color: #86100f;
}

.bottom {
	background: #f5f5f5;
	margin-top: 1em;
	padding-bottom: 2em;
	padding-top: 2em;
}

.bottom footer {
	color: #999;
	margin-top: 2em;
}

.printfooter { display: none;}

/* thumb, copied from vector */
div.thumb {
	margin-bottom: .5em;
	width: auto;
	background-color: transparent;
}
div.thumbinner {
	border: 1px solid #ccc;
	padding: 3px !important;
	background-color: #f9f9f9;
	font-size: 94%;
	text-align: center;
	overflow: hidden;
}
html .thumbimage {
	border: 1px solid #ccc;
}
html .thumbcaption {
	border: none;
	text-align: left;
	line-height: 1.4em;
	padding: 3px !important;
	font-size: 94%;
}
div.magnify {
	float: right;
	border: none !important;
	background: none !important;
}
div.magnify a, div.magnify img {
	display: block;
	border: none !important;
	background: none !important;
}
/* @noflip */
div.tright {
	clear: right;
	float: right;
	margin: .5em 0 1.3em 1.4em;
}
/* @noflip */
div.tleft {
	float: left;
	clear: left;
	margin: .5em 1.4em 1.3em 0;
}
img.thumbborder {
	border: 1px solid #dddddd;
}

/* responsive */
@media (max-width: 480px) {

	#toc {
		float: none;
		width: 100%;
		margin-left: 0;
	}

	.hero-unit {
		padding: 2em;
	}

	.hero-unit p {
		font-size: 1em;
		line-height: 1.5em;
	}

	.hero-unit h1 {
		font-size: 1.5em;
	}
}

@media (max-width: 980px) {

	body { padding-top: 0; }
}
