body {
	padding-top: 100px;
	background-position: left 80px !important;
}

body.page-Main_Page .page-header,
body.page-Category_Oracle .page-header,
body.page-Category_JavaScript .page-header,
body.page-Category_HTML .page-header,
body.page-Category_PHP .page-header,
body.page-Category_PL_SQL .page-header,
body.page-Category_CSS .page-header { display: none; }

textarea {
	width: 95%;
}

h2 .mw-headline { font-size: 18px; }
h3 .mw-headline { font-size: 16px; }
h4 .mw-headline { font-size: 14px; }
h5 .mw-headline { font-size: 12px; }
h6 .mw-headline { font-size: 12px; }

p {
	margin-bottom: 15px;
}

.brand img { margin-right: 0.5em; }
.navbar input {
	background-color: #555;
	border-color: #111;
	color: #aaa;
}

.editsection {
	float: right;
	font-size: 0.8rem;
	opacity: 0.2;
}

h2:hover .editsection,
h3:hover .editsection,
h4:hover .editsection,
h5:hover .editsection,
h6:hover .editsection {
	opacity: 1;
}

option.unclickable {
	color: #ccc;
}

#subnav-select {
	display: none;
}

.nav .user-icon {
	border: 1px solid rgba( 55, 55, 55, 0.1 );
	display: inline-block;
	margin-right: 0.5em;
	vertical-align: middle;
	width: 20px;
	height: 20px;
}

.nav .user-icon img {
	border: 1px solid rgba( 0, 0, 0, 0.5 );
	width: 20px;
	height: 20px;
}

#wiki-body h2 {
	border-bottom: 1px solid #ddd;
	margin-bottom: 0.5em;
}

#wiki-body h3 {
	border-bottom: 1px dotted #eee;
	color: #555;
	margin-bottom: 0.5em;
}

#page-contents ul li { list-style: none; }
#page-contents .dropdown-menu {
	right: 0;
	left: auto;
}

#page-contents i {
	opacity: 0.3;
}

#toc {
	display: none;
	float: right;
	margin: 0 0 1em 1em;
}

#toc td {
	background: #eee;
	border: 1px solid #ddd;
	border-radius: 0.5em;
	display: block;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	padding: 0 1em 1em 1em;

	box-shadow: 0 0 5px 0 rgba( 0, 0, 0, 0.2 );
}

#toctitle h2 {
	font-size: 16px;
}

a.new {
	color: #86100f;
}

#catlinks {
	border-top: 1px dotted #eee;
	margin-top: 2em;
	padding: 1em 0;
}

#catlinks #mw-normal-catlinks > a {
	color: #999;
}

#catlinks li {
	border-left: 1px solid #ddd;
}

.bottom {
	background: #f5f5f5;
	margin-top: 1em;
	padding-bottom: 2em;
	padding-top: 2em;
}

.bottom footer {
	color: #999;
	margin-top: 2em;
}

.printfooter { display: none;}

/* thumb, copied from vector */
div.thumb {
	margin-bottom: .5em;
	width: auto;
	background-color: transparent;
}
div.thumbinner {
	border: 1px solid #ccc;
	padding: 3px !important;
	background-color: #f9f9f9;
	font-size: 94%;
	text-align: center;
	overflow: hidden;
}
html .thumbimage {
	border: 1px solid #ccc;
}
html .thumbcaption {
	border: none;
	text-align: left;
	line-height: 1.4em;
	padding: 3px !important;
	font-size: 94%;
}
div.magnify {
	float: right;
	border: none !important;
	background: none !important;
}
div.magnify a, div.magnify img {
	display: block;
	border: none !important;
	background: none !important;
}
/* @noflip */
div.tright {
	clear: right;
	float: right;
	margin: .5em 0 1.3em 1.4em;
}
/* @noflip */
div.tleft {
	float: left;
	clear: left;
	margin: .5em 1.4em 1.3em 0;
}
img.thumbborder {
	border: 1px solid #dddddd;
}

.navbar .navbar-inner {
	background: #fff;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.navbar .brand {
	color: #00654d;
}

.navbar input {
	background-color: #f5f5f5;
	border-color: #ccc;
	color: #333;
}

.navbar .nav > li > a {
	color: #333;
	text-shadow: none;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > li > a:hover {
	color: #333;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.navbar .nav .dropdown-toggle .caret, 
.navbar .nav .open.dropdown .caret {
	border-top-color: #333;
}

/* Subnav */
.subnav {
	background: url(images/nav-bg.png) top center no-repeat;
  width: 100%;
  height: 36px;
  height: 63px;
	margin-top: 2px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.subnav .nav {
  margin-bottom: 0;
}

.subnav .nav > li > a {
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	text-decoration: none;
	color: #fff;
  margin: 0;
  padding-top:    16px;
  padding-bottom: 16px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.subnav .nav > li > a:hover,
.subnav .nav > .active > a,
.subnav .nav > .active > a:hover {
  padding-left: 13px;
  color: #fff;
  background-color: #497168;
  border-right-color: transparent;
  border-left: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
     -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
          box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
}
.subnav .nav-tabs .dropdown-toggle .caret, 
.subnav .nav-pills .dropdown-toggle .caret {
	border-top-color: #000;
}

.subnav .nav > .active > a .caret,
.subnav .nav > .active > a:hover .caret {
  border-top-color: #000;
}
.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover {
  border-left: 0;
  padding-left: 12px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}
.subnav .nav > li:last-child > a {
  border-right: 0;
}
.subnav .dropdown-menu {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.subnav .nav-tabs .open .dropdown-toggle, 
.subnav .nav-pills .open .dropdown-toggle, 
.subnav .nav > .open.active > a:hover {
	color: white;
	background-color: #497168;
	border-color: #497168;
}

#wiki-outer-body {
	/*background: url(images/body-bg.png) center top repeat-y;*/
}

/* Fixed subnav on scroll, but only for 980px and up (sorry IE!) */
@media (min-width: 980px) {
  .subnav-fixed {
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
    border-color: #d5d5d5;
    border-width: 0 0 1px; /* drop the border on the fixed edges */
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
  }
  .subnav-fixed .nav {
    width: 1170px;
    margin: 0 auto;
    padding: 0 1px;
  }
  .subnav .nav > li:first-child > a,
  .subnav .nav > li:first-child > a:hover {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
  }
}

@media (max-width: 979px) {
	body { padding-top: 0px; }

	.subnav #subnav-select {
		margin-top: 9px;
		margin-left: 20px;
		display: inline-block;
	}

	.subnav .nav {
		display: none;
	}

	.navbar-form,
	.navbar-search {
		border-bottom: 1px solid #eee;
		border-top: 1px solid #eee;
		margin-bottom: 0;
	}

	.nabar-inner,
	.navbar-fixed-top {
		margin-bottom: 0;
	}

	.navbar-inner {
		padding-bottom: 0;
	}
}

/* responsive */
@media (max-width: 480px) {

	#toc {
		float: none;
		width: 100%;
		margin-left: 0;
	}

	.hero-unit {
		padding: 2em;
	}

	.hero-unit p {
		font-size: 1em;
		line-height: 1.5em;
	}

	.hero-unit h1 {
		font-size: 1.5em;
	}
}
