/* Styles appear on displays over 750 pixels wide */

@use "variables" as *;

#site-navigation {
	ul {
		list-style-type: none;
		margin: 0;
	}

	li {
		padding-right: 1em;
		display: inline-block;
	}
}